* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: Cabinet Grotesk; /* Name your font family */
  src: url("../public/assets/font/CabinetGrotesk_Complete/Fonts/TTF/CabinetGrotesk-Variable.ttf"); /* Locate the .ttf file within your directory*/
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Cabinet Grotesk, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
